@import '../snippets/rem-and-reset';

$secondary: #E5E0CD;

.poke__container {
    display: block;
    min-width: 35rem;
    width: 50vw;
    margin: 5rem auto;
    font-family: 'Pokemon', monospace;
    user-select: none;

    .each-poke {
        background: $secondary;
        height: fit-content;
        max-height: 10rem;
        margin-top: 1rem;
        position: relative;
        box-shadow: 0px 4px 4px #000000;
        
        &.active {
            max-height: none;
            height: 15rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;

            &.active {
                height: 15rem;
                width: 15rem;
            }
        }

        .poke__name {
            font-family: 'Staatliches';
            font-size: 4rem;
            display: inline-block;
            color: #111;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        strong {
            display: inline-block;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            color:  #f00;
            font-size: 1.8rem;
            font-family: 'Press Start 2P';
        }

        .flavor {
            width: 50%;
            text-align: center;
            font-family: 'Staatliches', sans-serif;
        }
    }
    
}