@import '../snippets/rem-and-reset';

$secondary: #DAD6C4;

.container {
    width: 95%;
    max-width: 55rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -2rem;
    

    .search {
        font-size: 1.8rem;
        border:none;
        outline: none;
        height: 5rem;
        width: 100%;
        padding: 1rem 0 1rem 6rem;
        background-color: $secondary;
        font-family: 'Roboto Mono', monospace;
    }

    img {
        background-color: transparent;
        width: 4rem;
        position: absolute;
        top: .2rem;
        left: .3rem;
        user-select: none;
    }

    button {
        display: none;
    }

    @media (max-width: 580px) {
        button {
            display: inline-block;
            width: 10rem;
            border: 1px solid #000;
            background-color: #f00c;
            color: #fff;
            height: 100%;
            position: absolute;
            right: 0;
            z-index: 99;

            &:active {
                background-color: #f00;
            }
        }
    }

    
}