@import './snippets/rem-and-reset';

body {
    background-color: #F8F3E2;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Pokemon';
    src: url('./fonts/Pokemon Solid.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('./fonts/PressStart.ttf');
}

@font-face {
    font-family: 'Staatliches';
    src: url('./fonts/Staatliches-Regular.ttf');
}